/* ex.css(html과 같은 폴더) */
/***** 페이지 초기화 (a, li, margin, padding..)*****/
*{
  margin: 0; padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  text-decoration: none;
  display: block; color: navy;
}
li{list-style: none;}
/***** header *****/
header{background-color: #ea8f00;}
/*** header #logo_wrap ***/
header #logo_wrap{
  line-height: 50px; text-align: center;
  position: relative;
}
header #logo_wrap .menu{
  position: absolute;
  left: 0; top:0;
}
header #logo_wrap .myinfo{
  position: absolute;
  right: 0; top:0;
}
header a{
  color:white;
  font-size: 1.5em; 
  font-weight: bold;
}
/*** header #search ***/

/*** #lnb ***/

/*** #lnb는 checkbox가 checked상태일 때만 보임 ***/

/*** #section1 ***/
/*** #section2 ***/
/*** #section3 ***/

/*** footer ***/